<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Level Two</title>
    <link rel="stylesheet" href="{% static "CSS/mystyle.css"%}">
  </head>
  <body>
    <p>HI! welcome, THese are your access records!</p>
    <!--img src="{% static "images/maxresdefault.jpg"%}" alt="Uh Oh! didn't show!"-->
    <div class="djangtwo">
      {% if access_records %}
      <table>
        <thead>
          <th>Site name</th>
          <th>Date Accessed</th>
        </thead>
        {% for rec in access_records %}
          <tr>
            <td>{{rec.name}}</td>
            <td>{{rec.date}}</td>
          </tr>
        {% endfor %}
      </table>
      {% else %}
        <p>NO RECORDS ACCESSED!</p>
      {% endif %}
    </div>
  </body>
</html>
